@import "variables";
@import "mixin";

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #3D3D3D;
}

//layout
.content-main__container--height {
  margin: 10px 0;
  min-height: 400px;
}

@media screen and (max-width: 800px) {
  .content-main__container--height {
    min-height: 100px;
  }
}

.container-style {
  background-color: $box-background-color;
  border: $box-border;
  -webkit-border-radius: $box-border-radius;
  -moz-border-radius: $box-border-radius;
  border-radius: $box-border-radius;
}

//buttons
.button {
  border: 0;
  border-radius: $button-border-radius;
  text-align: center;
  padding: 8px;
}

.button-max {
  width: 100%;
}

.button-primary {
  background-color: $button-color-primary;
  color: $button-text-color-primary;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  &:hover {
    @include opacity(0.9);
    @include transition(all .3s ease);
  }
}

// input
.input-square {
  position: relative;
  text-align: left;

  label {
    cursor: pointer;
    padding: 0 0 0px 25px;
    &:before,
    &:after {
      top: 50%;
      content: '';
      position: absolute;
    }
    &:before {
      left: 0;
      width: 16px;
      height: 16px;
      margin: -13px 0 0;
      background: #FFFFFF;
      border: $box-border;
    }
    &:after {
      left: 5px;
      background-color: $button-color-primary;
      opacity: 0;
      height: 10px;
      width: 10px;
      margin: -9px 0px 0  -1px;
      @include transition(opacity 0.25s ease);
    }
  }

  input {
    position: absolute;
    top: 0;
    visibility: hidden;
    &:checked + label {
      &:before {
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
