
// Box variables
$box-background-color: #F8F8F8;
$box-border: 1px solid #D1D0CE;
$box-border-color: #D1D0CE;
$box-border-radius: 3px;

//buttons

$button-border: #D1D0CE;
$button-border-radius: 4px;

$button-color-primary: #36c;
$button-text-color-primary: #FFFFFF;
