<div class="search-component container-style">
  <h3 class="search-component__title element-margin">Productgroep</h3>
  <div class="search-component__input--container element-margin">
    <input type="search" class="search-component__input" placeholder="Zoek op ..."/>
    <svg width="14" height="14" class="search-component__input--icon" viewBox="0 0 14 14"
         xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.8 12.2l-3.9-4c.6-.8 1.1-2 1.1-3.1 0-2.8-2.3-5-5-5-2.8 0-5 2.3-5 5 0 2.8 2.2 5 5 5 .8 0 1.7-.2 2.3-.5l3.9 4.3c.2.2.6.2.8 0l.8-.8c.3-.3.3-.7 0-.9zM6 8.1c-1.7 0-3-1.4-3-3 0-1.7 1.4-3 3-3s3 1.4 3 3-1.4 3-3 3z"
        fill-rule="evenodd"/>
    </svg>
  </div>

  <ng-scrollbar class="search-component__available-options element-margin" >
    <ul class="search-component__available-options--list">
      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-1" id="name-1" />
          <label for="name-1">Example Title</label>
        </div>
      </li>
      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-2" id="name-2" />
          <label for="name-2">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-17" id="name-17" />
          <label for="name-17">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-16" id="name-16" />
          <label for="name-16">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-15" id="name-15" />
          <label for="name-15">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-14" id="name-14" />
          <label for="name-14">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-13" id="name-13" />
          <label for="name-13">Example Title</label>
        </div>
      </li>

      <li class="search-component__available-options--item">
        <div class="input-square">
          <input type="checkbox" name="name-12" id="name-12" />
          <label for="name-12">Example Title</label>
        </div>
      </li>
    </ul>
  </ng-scrollbar>
  <button class="button button-max button-primary">Toepassen</button>
</div>
